body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

html {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('../images/background2.jpg');
    background-attachment: fixed;  
    background-size: cover;       
    background-repeat: no-repeat; 
    background-position: center center;
    height: 100%;
    overflow: hidden;
    background-color: #000;
}

.gradient-bg {
    background: linear-gradient(135deg, #001f3f, #001a33);
}

.leaderboard-card {
    height: 250px;
    background-size: cover;
    background-position: center;
}

.leaderboard-past-card {
    height: 180px;
    background-size: cover;
    background-position: center;
}

.leaderboard-option-text {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 18px;
}

.back-btn i.fas { 
    margin-right: 10px;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 3%;
    padding-left: 10px;

    padding-top: 21px;
    background-color: rgba(31, 36, 49, 0); 
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    z-index: 20;
}

.top-menu {
    padding-left: 0.5%;
    display: flex;
    gap: 20px;
}

.menu-item {
    color: #aaa;
    text-decoration: none;
    transition: color 0.3s;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
    display: flex; 
    align-items: center;
}

.menu-item.account-button {
    padding-right: 5px;
}

.menu-item:hover {
    color: white;
    background: rgba(255, 255, 255, 0.08);
}

.main-content {
    padding: 50px 5%;
}

.mobile-icon {
    display: none;
}

.back-text{
    padding-left: 10px;
}

.custom-py {
    padding-top: 0;
    padding-left: 14;
}

.loader {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@media only screen and (max-width: 768px) {
    .custom-py {
        padding-top: 60px;
        padding-left: 14px;
    }

    .header {
        flex-direction: row;
        justify-content: start;
    }

    .logo {
        display: none;
    }

    .mobile-icon {
        display: inline-block;
        font-size: 1.5em;
        color: #aaa;
        margin-right: 5px;
    }

    .menu-item:hover .mobile-icon {
        color: white;
    }
}
